/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 18px;
    text-align: center;
}


/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('../bg.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}

section.contact-us{
    padding-top:0;
    padding-bottom: 0;
}
.flex{
    display:flex;
  }

  section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
}

ection.contact-us .map{
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}


section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Raleway-bold";
    margin-bottom:0.25rem;
}


section.our-services{
    background:var(--light);
    position:relative;
    z-index:0;
}
section.our-services .card-wrapper{
    margin-right:-2rem;
    margin-top:8rem;
}
section.our-services .service-card{
    background:#6C6C6C;
    text-align: center;
    padding:2rem;
    padding-top:4rem;
    margin-right:2rem;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
section.our-services .service-card .icon{
    position: absolute;
    top:-45px;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
} 
section.our-services .service-card h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom:1rem;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom:1rem;
}


.testimonial{
    background:#ffffff;
}
.testimonial .content{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:row;
}
.testimonial .content .testimonialBx{
    background:#291717;
    padding:60px 40px;
    margin:20px;
    max-width:calc(50% - 40px);
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
.testimonial .content .testimonialBx:hover{
    border-bottom:2px solid #009e66;
    cursor:pointer;
}
.testimonial .content .testimonialBx p{
    color:#fff;
    font-style: italic;
    font-size:18px;
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    line-height: 24px;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color:#009e66;
    font-weight: 200;
    line-height: 1.7em;
    font-size: 20px;
    font-style: italic;
}

.home .home-slider .item{
    position: relative;
}

.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.home .home-slider .item .content{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

.home .home-slider .item .content h3{
    color:#fff;
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}

.home .home-slider .item .content p{
    color:#fff;
    font-size: 2.5rem;
    padding:2rem 0;
    width: 50rem;
}

.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    outline: none;
}

.home .owl-carousel .owl-prev{
    left: 1.3rem;;
}

.home .owl-carousel .owl-next{
    right:1.3rem;;
}

.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color:#fff;
    font-size: 7rem;
}


.btn{
    height: 4rem;
    width: 14rem;
    background:cornflowerblue;
    color:#fff;
    font-size: 2rem;
    cursor: pointer;
    border:none;
    outline: none;
}

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
}

.checked {
    color: orange;
  }